<html lang="en">
<head>
    <title>Adding a New Book</title>
    <link rel="stylesheet" href="/style">
</head>
<style>
    body {
        background-color: rgb(245, 206, 116) ;
    }

</style>
<body>
    <div class="data-form">
        <form action="../booksnew/create" method="POST">
            <center>    <h2>Add a new book</h2> </center>
            <center> <label for="name">Book Name:</label><br> </center>
            <center>   <input type="text" name="name"><br><br> </center>
            <center>  <label for="author">Author:</label><br> </center>
            <center>  <input type="text" name="author"><br><br> </center>
            <center>  <label for="link">Amazon Link:</label><br> </center>
            <center> <input type="text" name="link"><br><br> </center>
            <center><button>Add Book to Database</button> </center>
          </form> 
    </div>

    <center> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br><br><br>
        <br><br>
     
        <div class="Pane" >
            
     
            <p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;"> <a href="/home"> List of Books </a>
    
                &nbsp;|
            <a href="/addnewbook"> Add A Book </a>
            &nbsp;|
            <a href="/deleteabook"> Delete A Book </a>
           <br /><br />

        </p>
        
        </div>
        </center>
    </div>
</body>
</html>


