<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books</title>
</head>

<style>
    body {
        background-color: rgb(168, 245, 124) ;
    }

</style>
<center>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <center>    Book Title: <%= data.name%>     </center>
        </br> <center>  Author: <%= data.author%>    </center>
        </br>
        <center>  Amazon Link : <a href="<%= data.link%>"> Click here!     </center></a>
    </center>
        </p></a>
</br>
</body>
</br>

</center>
<center> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br><br><br>
    <br><br>
 
    <div class="Pane" >
        
 
        <p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;"> <a href="/home"> List of Books </a>

            &nbsp;|
        <a href="/addnewbook"> Add A Book </a>
        &nbsp;|
        <a href="/deleteabook"> Delete A Book </a>
       <br /><br />

    </p>
    
    </div>
    </center>
</div>
</html>